<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'xgmm.css') }}">
    <title></title>
</head>
<body>
    <div class="nav"> 修改密码</div>
    <div class="content">
        <div class="one">
            <input type="text" class="one1" placeholder="         | 请输入旧密码"><br>
            <input type="text" class="one2" placeholder="         | 请输入新密码"><br>
            <button class="one3" onclick="javascript:window.open('http://127.0.0.1:5000//login','_self')">修改密码</button>
        </div>
    </div>
</body>
</html>
